.companies-page td{
    min-width: 100px;
    padding: 5px 20px;
    max-width: 500px;
    border: 0;
    border-bottom: 1px solid #ddd;
}


.input-name,
.input-email,
.input-address,
.input-phone{
    width: max-content;
    min-width: 120px;
    padding: 0;
}

.companies-table-header{
    font-weight: 700;
}

.create-btn, .save-btn, .cancel-btn{
    /* margin: 10px 0; */
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: #2667bb;
    background-color: transparent;
    border: 1px solid #2667bb;
    font-size: 14px;
}

.create-btn{
    color: white;
    background-color: #2667bb;
    margin: 10px 0;
}