.main {
  grid-column: span 12;
  height: 100%;
  text-align: left;
}

.head{
  text-align: left;
}

.couponsContainer {
  display: inline-block;
  margin-bottom: 15px;
}

.category{
  display: inline-block;
  min-width: 220px;
}
.couponsContainer .create-btn,.prev-page-btn, .next-page-btn{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  background-color: #2667bb;
  color: white;
  border: 1px solid #2667bb;
  font-size: 14px;
}

.couponsContainer .create-btn:hover{
  cursor: pointer;
}

.couponsContainer .create-btn{
  margin-left: 860px;
}

.prev-page-btn{
  margin-left: 470px;
  margin-right: 30px;
  width: 100px;
}
.prev-page-btn:disabled, .next-page-btn:disabled{
  background-color: lightgray;
  border: 1px solid lightgray;
}
.next-page-btn{
  margin-left: 30px;
  width: 100px;
}

.prev-page-btn:hover:not(:disabled), .next-page-btn:hover:not(:disabled){
  cursor: pointer;
}
.prev-page-btn:active:is(:disabled),.next-page-btn:active:is(:disabled) {
  transform: scale(1);
}

.price-filter{
  display: inline-block;
  width: 220px;
  margin-left: 890px;
}