.main {
  grid-column: span 12;
  height: 100%;
  text-align: left;
}

.head{
  text-align: left;
}

.couponsContainer {
  display: inline-block;
  /* width: 100vw; */
  /* margin-left: 100px; */
  padding-left: 100px;
  margin-bottom: 15px;

  /* text-decoration-line: underline;
  text-underline-offset: 30%; */
}

.category{
  display: inline-block;
  min-width: 180px;
}
.create-btn,.prev-page-btn, .next-page-btn{
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  background-color: #2667bb;
  color: white;
  border: 1px solid #2667bb;
  font-size: 14px;
}

.create-btn:hover{
  cursor: pointer;
}

.create-btn{
  /* margin-right: 130px; */
  margin-left: 230px;
}

.prev-page-btn{
  margin-left: 310px;
  margin-right: 30px;
  width: 100px;
}
.prev-page-btn:disabled, .next-page-btn:disabled{
  background-color: lightgray;
  border: 1px solid lightgray;
}
.next-page-btn{
  margin-left: 30px;
  width: 100px;
}

.prev-page-btn:hover:not(:disabled), .next-page-btn:hover:not(:disabled){
  cursor: pointer;
}
.prev-page-btn:active:is(:disabled),.next-page-btn:active:is(:disabled) {
  transform: scale(1);
}