.purchases-table{
    display: inline-block;
    border-collapse:separate;
    border-spacing:0 5px;
    margin: 10px;
}

.purchases td{
    border: 1px solid black;
    min-width: 100px;
    padding: 5px 20px;
    max-width: 500px;
}

.purchases-table-header td{
    font-weight: bold;
    border: 2.5px solid black;
    border-collapse: separate;
    border-spacing: 15px;
}

.purchase-line:nth-child(even){
    background-color: #2666bb49;
}
.purchase-line{
    border: 10px solid black;
}

.purchases > h1{
    display: inline-block;
    border-bottom: 4px solid black;
    border-collapse: collapse;
    padding: 0 10px;
}

.purchases-title{
    margin-top: 20px;
}