.layout{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
    text-align: center;
}

section#alert{
    font-size: 10px;
}

.main{
    padding-left: 100px;
}